.TodoForm {padding:25px; text-align:center; background-color:lavenderblush}
.TodoForm input {width:270px; height:40px; padding:0 15px; border:none; vertical-align:top; box-sizing:border-box;}
.TodoForm button {width:80px; height:40px; border:none; background-color:lightpink;}